#cloud-config
users:
  - name: ${ssh_username}
    groups: sudo
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    ssh_authorized_keys:
      - ${ssh_public_key}
package_update: true
packages:
  - python3
  - python3-apt
  - ca-certificates
  - curl
  - gnupg
