PGHOST={{ postgres_host | to_json(ensure_ascii=False) }}
PGPORT=6432
PGDATABASE={{ postgres_db | to_json(ensure_ascii=False) }}
PGUSER={{ postgres_user | to_json(ensure_ascii=False) }}
PGPASSWORD={{ postgres_password | to_json(ensure_ascii=False) }}
PGSSLMODE=verify-full
PGSSLROOTCERT=/etc/notes/ca.pem
