apiVersion: v1
kind: ConfigMap
metadata:
  name: notes-config
  namespace: notes
data:
  PGHOST: "${PGHOST}"
  PGPORT: "6432"
  PGDATABASE: notes
  PGUSER: notes
  PGSSLMODE: verify-full
  PGSSLROOTCERT: /etc/postgresql/ca.pem
